<section>

  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="bi bi-intersect"></i>
        </div>
        <div>
          Opportunities
          <div class="page-title-subheading">All Opportunities created</div>
        </div>
      </div>
    </div>
  </div>


  <ng-container *ngIf="oppo;else spinner">

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <i class="bi bi-search"></i>
      </span>
      <input type="text" (keyup)="applyFilter($event)" class="form-control" placeholder="Search Leads"
        aria-label="search" aria-describedby="basic-addon1">
    </div>

    <div class="table_section">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element" class="active-name">
            <a routerLink="/dashboard/opportunity/{{element._id}}">{{element.name}}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Account Name</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize">
            <a routerLink="/dashboard/accounts/page/{{element.account._id}}">{{element.account.name}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="stage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stage</th>
          <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>

        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Plan</th>
          <td mat-cell *matCellDef="let element">{{element.payment_plan}}</td>
        </ng-container>

        <ng-container matColumnDef="agent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned To.</th>
          <td mat-cell *matCellDef="let element">{{element.assigned_agent.firstName}}
            {{element.assigned_agent.lastName}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
      </table>
    </div>

  </ng-container>

  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>

</section>
